<!DOCTYPE html>

<html>
   
   <!-- doc & style -->
   <head>
      
     <meta charset="utf-8">
      <title>Blog</title>
      
      <style>
      h1 {text-align: center; text-color: 47 68 104 1;}
      h2 {text-align: center; text-color: 47 68 104 1;}
      h3 {text-align: center;}
      p.blocktext {
         text-align: center;
         margin-left: auto;
         margin-right: auto;
         width: 50em;
      }
      div {
      }
      title {text-align: center;}
      .center {
         margin-left: auto;
         margin-right: auto;
         display: block; 
         margin: 0 auto;
       }
      .left {
         float: left;
         width: 50em;
         }
      .right {
         float: right;
         margin-left: auto;
         margin-right: auto;
         width: 50em;
         }
      .leftpadding {
         float: left; 
         padding: 10px 10px 10px 10px;
         width: 10em;
         }
      .rightpadding {
         float: right; 
         padding: 10px 10px 10px 10px;
         width: 10em;
         }
      .textright {text-align: right;}
      .nobull {
         list-style-type: none;
      }
      </style>
      
   </head>
   
   <!-- title -->
   <h1><a href="https://randomsource.club/">Blog</a></h1>
     <p class="blocktext">i know you're using windows and chrome</p>
  
   <!-- post 7 -->
   
   <body>
      <h2><a href="{{ base.url }}/category/{{ category | first | slugify }}">I know you're using Windows and Chrome</a></h2>
         <p class="blocktext">Posted on by Mr T</p>
      
      
      
            <div>
               <p class="blocktext">Stop it. Use BSD or linux. Because I can see what 
               you are doing on your computer.</p>
               <p class="blocktext">Posted in Computing</p>
            </div>
   </body>
   
   <!-- post 6 -->
   <body>
      <h2><a href="{{ base.url }}/category/{{ category | first | slugify }}">More people need websites.</a></h2>
         <p class="blocktext">Posted on by Mr T</p>
      
      
      
            <div>
               <p class="blocktext">If you're interested in computers, like me, 
                I think it is actually really fun setting up your own website.</p>
               <p class="blocktext">Posted in Uncategorized</p>
            </div>
   </body>
   
   <!-- post 5 -->
   <body>
      <h2><a href="{{ base.url }}/category/{{ category | first | slugify }}">What is Monero, and why do I recommend it?</a></h2>
      <p class="blocktext">Posted on by Mr T</p>
      
      <img class="center" src="https://www.getmonero.org/press-kit/symbols/monero-symbol-on-white-480.png" width="190"></img>
   
         <div>
            <p class="blocktext">If you’ve been interested about crypto, you may or 
            may not know about the big name bitcoin. Bitcoin has been made as an alternate way 
            to pay digitally “privately” and “securely”. Unfortunately, through the paces of 
            time it hasn’t stood up to its claims. Bitcoin can be traced and can be seen by 
            how it […]</p>
            <p class="blocktext">Posted in Privacy & Security</p>
         </div>
   </body>
   
   <!-- post 4 -->
   <body>
      <h2><a href="{{ base.url }}/category/{{ category | first | slugify }}">We Need More tor Nodes</a></h2>
      <p class="blocktext">Posted on by Ben R</p>
      
      <img class="center" src="http://cdn2.expertreviews.co.uk/sites/expertreviews/files/styles/er_main_wide/public/3/28/tor_logo_0.png?itok=MkJgTUOu" width="190"></img>

         <div>
            <p class="blocktext">Tor only currently has 6000 relays and 2000 bridges. 
               Who knows how many of them can easily be made by the government agencies. 
               Tor is our defense towards censorship. And we can start making more relays 
               and bridges to help decentralize the internet.</p>
            <p class="blocktext">Posted in Privacy & Security</p>
         </div>
   </body>

   <!-- post 3 -->
   <body>
      <h2><a href="{{ base.url }}/category/{{ category | first | slugify }}">What is solar? And why does it matter?</a></h2>
      <p class="blocktext">Posted on by Ben R</p>
      <img class="center" src="https://aecom.com/without-limits/wp-content/uploads/2020/06/Solar-panel-and-wind-turbines_AdobeStock_276818517-scaled-e1593182712784.jpeg" width="190"></img>
      
         <div>
            <p class="blocktext">There are many ways to get electricity, especially from 
               sources of coal and nonrenewable resources. But who knows if we could ever 
               get out of this debt of ever ending energy, that we will one day have to rely 
               on renewable sources, like solar and hydroelectric and wind. Solar is the most 
               budget conscious friendly […]</p>
            <p class="blocktext">Posted in Green Tech</p>
         </div>
   </body>

   <!-- post 2 -->
   <body>
      <h2><a href="{{ base.url }}/category/{{ category | first | slugify }}">Advice for myself on Web hosting</a></h2>
      <p class="blocktext">Posted on by Mr T</p>
      <img class="center" src="https://www.oxfordwebstudio.com/user/pages/06.da-li-znate/sta-je-web-hosting/sta-je-web-hosting.jpg" width="190"></img>

         <div>
            <p class="blocktext">I'm thinking one day I might make 'servers' locally rather 
               than using a VPS or web hosting. But the reason why I haven't done that, is 
               because I don't have an ISP that allows me to host my own email/website. 
               Sorry this was a very short blog post. Maybe I should combine this 
               with my [...]</p>
            <p class="blocktext">Posted in Web Hosting</p>
         </div>
   </body>

   <!-- post 1 -->
   <body>
         <h2><a href="{{ base.url }}/category/{{ category | first | slugify }}">How I Made This Website</a></h2>
      <p class="blocktext">Posted on by Mr T</p>
      <img class="center" src="https://www.dreamhost.com/blog/wp-content/uploads/2019/07/38c18fc3-d6bc-46dc-abf5-3a2236c25349_DreamHost-web-host-checklist-feat-750x401.jpg" width="190"></img>
      
         <div>
            <p class="blocktext">This is my first post about websites. How did I make this 
               website? I use Monero signing up for a domain service and a web hosting & 
               VPS service. Monero is a sort of currency I recommend for privacy and security, 
               because it is made to emulate cash but digitally. I use Njalla, and 1984, […]</p>
            <p class="blocktext">Posted in Web Hosting</p>
         </div>
     <!-- <p text-align:center>Leave a Comment</p> -->

   </body>

      <!-- archives & categories -->
<h2><span class="left">Archives</span><span class="right">Categories</span></h2>
            
               <ul class="leftpadding nobull">
                  <li><a href="{{ base.url }}/category/{{ category | first | slugify }}">May 2022</a></li>
               </ul>
            
               <ul class="rightpadding nobull">
                  <li><a href="{{ base.url }}/category/{{ category | first | slugify }}">Computing</a></li>
                  <li><a href="{{ base.url }}/category/{{ category | first | slugify }}">Green Tech</a></li>
                  <li><a href="{{ base.url }}/category/{{ category | first | slugify }}">Privacy & Security</a></li>
                  <li><a href="{{ base.url }}/category/{{ category | first | slugify }}"Uncategorized</a></li>
                  <li><a href="{{ base.url }}/category/{{ category | first | slugify }}">Web Hosting</a></li>
               </ul>
         
      <!-- footer -->
      <h3>do not copy my website or you will go to jail</h3>

</html>
